<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>왁자지껄</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 1) -->
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico"><!-- 2) -->
	<link rel="stylesheet" href="css/index.css"> <!-- 3) -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script><!-- 4) -->
	<script defer src="js/index.js"></script><!-- 5) -->
	<script defer src="js/board.js"></script>
</head>

<body>
	<main id="main">
		<div class="loginZone">
			<th:block th:if="${session.id==null}"><!-- 6) -->
				<div th:replace="~{login_out::login}" />
			</th:block>
			<th:block th:if="${session.id != null}">
				<div th:replace="~{login_out::logout}" />
			</th:block>
		</div>

		<header class="header"><!-- 7) -->
			Thymeleaf와 ajax를 사용한 왁자지껄 게시판
			<nav>
				<button type="button" class="menuHome">HOME</button>
				<button type="button" class="menuHit">조회짱</button>
				<button type="button" class="menuRepl">댓글짱</button>
				<button type="button" class="menuNewer">최신</button>
			</nav>
		</header>

		<div class="findZone"><!-- 8) -->
			<th:block th:if="${session.id != null}">
				<button type="text" class="btnRegister">게시하기</button>
			</th:block>
			<input class="findStr" size="80">
			<button type="button" class="btnFind" th:onclick="find()">검색</button><!-- 9) -->
		</div>

		<section class="section"></section><!-- 10) -->

		<footer class="footer"><!-- 11) -->
			수월한 IT 시리즈가 함께 합니다.
		</footer>
	</main>
</body>

</html>